name: Publish Docker Image

on:
  push:
    branches: [ "main" ]

jobs:
  publish:
    name: Build and Push to Docker Hub
    runs-on: ubuntu-latest
    # only run publish on pushes to the main branch
    if: github.ref == 'refs/heads/main'
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Determine image tag
        id: meta
        run: |
          echo "GITHUB_REF=${GITHUB_REF}"
          if [[ "${GITHUB_REF}" == refs/tags/* ]]; then
            tag="${GITHUB_REF#refs/tags/}"
          elif [[ "${GITHUB_REF}" == "refs/heads/main" ]]; then
            tag="latest"
          else
            tag="${GITHUB_SHA::7}"
          fi
          echo "image_tag=$tag" >> "$GITHUB_OUTPUT"

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: Dockerfile
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/neuro-schedule:${{ steps.meta.outputs.image_tag }}
            ${{ secrets.DOCKERHUB_USERNAME }}/neuro-schedule:${{ github.sha }}
          platforms: linux/amd64,linux/arm64

